# Read in Data

In [1]:
import pandas as pd
data = pd.read_csv('FE_Data.csv', index_col=0)
data

,country,team,season,md,goals,gd,outcome,points,opp_goals,opp_gd,opp_points,avg_starter_age,total_starter_value,Cluster,win,win%
0,2,1.FC Kaiserslautern,2004,1,1.0,-2.0,0,0,3.0,2.0,3,27.818182,15.95,0,0,0.000000
1,2,1.FC Kaiserslautern,2004,2,1.0,-1.0,0,0,2.0,1.0,3,28.000000,16.50,0,0,0.000000
2,2,1.FC Kaiserslautern,2004,3,2.0,-1.0,0,0,3.0,1.0,3,27.333333,14.20,0,0,0.000000
3,2,1.FC Kaiserslautern,2004,4,3.0,1.0,2,3,2.0,-1.0,0,26.928571,17.95,0,1,25.000000
4,2,1.FC Kaiserslautern,2004,5,2.0,1.0,2,3,1.0,-1.0,0,26.428571,17.65,0,1,40.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67811,2,RB Leipzig,2021,30,1.0,1.0,2,3,0.0,-1.0,0,26.538462,228.00,2,1,53.333333
67812,2,RB Leipzig,2021,31,1.0,-1.0,0,0,2.0,1.0,3,24.058824,225.05,2,0,51.612903
67813,2,RB Leipzig,2021,32,1.0,-2.0,0,0,3.0,2.0,3,25.636364,311.00,2,0,50.000000
67814,2,RB Leipzig,2021,33,4.0,4.0,2,3,0.0,-4.0,0,25.857143,259.00,2,1,51.515152
67815,2,RB Leipzig,2021,34,1.0,0.0,1,1,1.0,0.0,1,19.000000,18.00,0,0,50.000000

In [4]:
scalable_data = data[['goals', 'gd', 'opp_gd', 'avg_starter_age', 'total_starter_value', 'win%' ]]
scalable_data

       goals   gd  opp_gd  avg_starter_age  total_starter_value       win%
0        1.0 -2.0     2.0        27.818182                15.95   0.000000
1        1.0 -1.0     1.0        28.000000                16.50   0.000000
2        2.0 -1.0     1.0        27.333333                14.20   0.000000
3        3.0  1.0    -1.0        26.928571                17.95  25.000000
4        2.0  1.0    -1.0        26.428571                17.65  40.000000
...      ...  ...     ...              ...                  ...        ...
67811    1.0  1.0    -1.0        26.538462               228.00  53.333333
67812    1.0 -1.0     1.0        24.058824               225.05  51.612903
67813    1.0 -2.0     2.0        25.636364               311.00  50.000000
67814    4.0  4.0    -4.0        25.857143               259.00  51.515152
67815    1.0  0.0     0.0        19.000000                18.00  50.000000

[60842 rows x 6 columns]

In [6]:
unscalable_data = data[['country', 'team', 'season', 'md', 'outcome', 'Cluster', 'win']]
unscalable_data

       country                 team  season  md  outcome  Cluster  win
0            2  1.FC Kaiserslautern    2004   1        0        0    0
1            2  1.FC Kaiserslautern    2004   2        0        0    0
2            2  1.FC Kaiserslautern    2004   3        0        0    0
3            2  1.FC Kaiserslautern    2004   4        2        0    1
4            2  1.FC Kaiserslautern    2004   5        2        0    1
...        ...                  ...     ...  ..      ...      ...  ...
67811        2           RB Leipzig    2021  30        2        2    1
67812        2           RB Leipzig    2021  31        0        2    0
67813        2           RB Leipzig    2021  32        0        2    0
67814        2           RB Leipzig    2021  33        2        2    1
67815        2           RB Leipzig    2021  34        1        0    0

[60842 rows x 7 columns]

In [7]:
#Use MinMax Scaler as upper and lower bounds are known 
from sklearn.preprocessing import MinMaxScaler
minmaxsc = MinMaxScaler()
scaled_data = pd.DataFrame(minmaxsc.fit_transform(scalable_data.values), columns=scalable_data.columns, index=scalable_data.index)
scaled_data.head()

   goals        gd    opp_gd  avg_starter_age  total_starter_value  win%
0    0.1  0.388889  0.611111         0.622010             0.014190  0.00
1    0.1  0.444444  0.555556         0.631579             0.014680  0.00
2    0.2  0.444444  0.555556         0.596491             0.012633  0.00
3    0.3  0.555556  0.444444         0.575188             0.015970  0.25
4    0.2  0.555556  0.444444         0.548872             0.015703  0.40

In [8]:
# Place the DataFrames side by side
horizontal_stack = pd.concat([ unscalable_data, scaled_data, ], axis=1)
horizontal_stack.head()

,country,team,season,md,outcome,Cluster,win,goals,gd,opp_gd,avg_starter_age,total_starter_value,win%
0,2,1.FC Kaiserslautern,2004,1,0,0,0,0.1,0.388889,0.611111,0.622010,0.014190,0.00
1,2,1.FC Kaiserslautern,2004,2,0,0,0,0.1,0.444444,0.555556,0.631579,0.014680,0.00
2,2,1.FC Kaiserslautern,2004,3,0,0,0,0.2,0.444444,0.555556,0.596491,0.012633,0.00
3,2,1.FC Kaiserslautern,2004,4,2,0,1,0.3,0.555556,0.444444,0.575188,0.015970,0.25
4,2,1.FC Kaiserslautern,2004,5,2,0,1,0.2,0.555556,0.444444,0.548872,0.015703,0.40

In [10]:
scaled_data = horizontal_stack
scaled_data

,country,team,season,md,outcome,Cluster,win,goals,gd,opp_gd,avg_starter_age,total_starter_value,win%
0,2,1.FC Kaiserslautern,2004,1,0,0,0,0.1,0.388889,0.611111,0.622010,0.014190,0.000000
1,2,1.FC Kaiserslautern,2004,2,0,0,0,0.1,0.444444,0.555556,0.631579,0.014680,0.000000
2,2,1.FC Kaiserslautern,2004,3,0,0,0,0.2,0.444444,0.555556,0.596491,0.012633,0.000000
3,2,1.FC Kaiserslautern,2004,4,2,0,1,0.3,0.555556,0.444444,0.575188,0.015970,0.250000
4,2,1.FC Kaiserslautern,2004,5,2,0,1,0.2,0.555556,0.444444,0.548872,0.015703,0.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
67811,2,RB Leipzig,2021,30,2,2,1,0.1,0.555556,0.444444,0.554656,0.202847,0.533333
67812,2,RB Leipzig,2021,31,0,2,0,0.1,0.444444,0.555556,0.424149,0.200222,0.516129
67813,2,RB Leipzig,2021,32,0,2,0,0.1,0.388889,0.611111,0.507177,0.276690,0.500000
67814,2,RB Leipzig,2021,33,2,2,1,0.4,0.722222,0.277778,0.518797,0.230427,0.515152
67815,2,RB Leipzig,2021,34,1,0,0,0.1,0.500000,0.500000,0.157895,0.016014,0.500000

In [12]:
scaled_data.to_csv('scaled_data.csv', index=None)